@import "tailwindcss";

.container {
    margin: 0 0 0 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* Ensures scrollbar space is always reserved, preventing layout shift */
html {
  overflow-y: scroll;
}
